@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

/* body { 
    font-family: "Courier New", Courier, monospace;
    background: url("./pngtree-shopping-mall-supermarket-selection-merchandise-poster-background-material-image_133225.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;} */